extends layout

block content
  h1= title

  section#convert-option
    h2="Choose a conversion option"

    label.clickable(for="show-plain")
      h3="Plain Text"
    input#show-plain.visuallyhidden(type="checkbox")

    form#plain-text(action="convert/plainText", method="POST")
      formset
        label.visuallyhidden(for="csv-text")="Plain Text"
        textarea#csv-text(name="csv-text")
      button(type="submit")="Convert Plain Text"

    label.clickable(for="show-remote")
      h3="URL"
    input#show-remote.visuallyhidden(type="checkbox")

    form#remote(action="convert/remote", method="POST")
      formset
        label.visuallyhidden(for="url-text")="From URL"
        input#url-text(type="text", name="url-text")
      button(type="submit")="Convert From URL"

    label.clickable(for="show-file")
      h3="File Upload"
    input#show-file.visuallyhidden(type="checkbox")

    form#file-upload(action="convert/fileUpload", method="POST", enc-type="multipart/form-data")
      formset
        label.visuallyhidden(for="csv-file")="File Upload"
        input#csv-file(type="file", name="csv-file")
      button(type="submit")="Convert from File"

  section#result
    h2="Result"
    div.code
      code